*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-end;
  inline-size: 711px;
}

.result__video-container {
  position: relative;
  inset: 0;
  width: 711px;
  height: 386px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.search-form {
 display: flex;
 gap: 40px;
}

.search-form__label {
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: currentColor;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__label-text {
  padding-left: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;/*общее для: Утро, день, ночь*/
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__label:focus {
  outline: none;
}

.content__details {
  width: 399px;
  padding-top: 3px;
}

.search-formfieldset {
  border: none;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

.search-form__fieldset-title{
  padding-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;/*Время суток*/
}

.button {
  align-self: flex-end;
  height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:active {
  background: #545050;
}

.title {
  padding-top: 3px;
  padding-bottom: 23px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.9335;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link:active {
  background: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  min-width: 194px;
}

.content__video-card-title {
  max-width: 194px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}

.content__video-card-description {
  max-width: 194px;
  padding-top: 6px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 